<!-- As a link -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand topLeft text-light" href="/">Chess Openings Scraper</a>
    <a class="navbar-brand topRight text-light" href="/saved">Saved Openings</a>
</nav>
<div class="container">
    <div"row">
        <div class="col text-center">
            <button type="submit" class="scrapeOpenings btn-info">Scrape Openings</button>
            <button type="submit" class="clearOpenings btn-danger">Clear Openings</button>
        </div>
    </div>
</div>

<div class="container card2 centered">
    <div class="card">
        <div class="card-body text center">Openings</div>
        <div class="openings">
            <ol>
                {{#each openings}}
                {{> openings/openings-block}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>