<!-- As a link -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Chess Openings Scraper</a>
    <a class="navbar-brand" href="/saved">Saved Openings</a>
</nav>

<div class="card topCard">
    <button type="submit" class="scrapeOpenings btn-success">Scrape Openings</button>
    <button type="submit" class="clearOpenings btn-danger">Clear Openings</button>
</div>

<div class="container card2 centered">
    <div class="card">
        <div class="card-body"> </div>
        <div class="openings">
            <ol>
                {{#each openings}}
                {{#if saved}}
                {{> openings/openings-saved}}
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>